body {
    background-color: black;
    }
    
h2 {
        color:aliceblue;
    }

p, ol, li {
    color:beige;
}

#argentinaprograma{
    width: 15%;
    padding: 0em 0em 2em 0em;
    
}

#yoprogramo{
    color: yellow;
}

#banner{
    width: 1850px;
    height: 600px;
    padding: 0,5em 0em 2em 0em;
    margin-left: 10px;
    margin-right: 10px;
}

.float-end{
    padding: 0em 1em 1em 0em;
}

#facebook{
    width: 50px;
}

#linkedin{
    width: 50px;
}