body {
    background-color: black;
    }
    
h2 {
        color:aliceblue;
    }

p, ol, li {
    color:beige;
    margin-left: 5px;
}

#argentinaprograma{
    width: 15%;
    padding: 0em 0em 2em 0em;
    
}

#yoprogramo{
    color: yellow;
}

#banner{
    padding-bottom: 2em;
    width: 1550px;
    height: 600px;
   
}

.float-end{
    padding: 0em 1em 1em 0em;
}

.float-start{
    padding: 0em 1em 1em 0em;
}

#facebook{
    width: 30px;
}

#linkedin{
    width: 30px;
}