body {
    background-color: black;
    }
    
h2 {
        color:aliceblue;
    }

p, ol, li {
    color:beige;
}

#argentinaprograma{
    width: 50%;
    padding: 0em 0em 2em 0em;
    
}

#yoprogramo{
    color: yellow;
}

#banner{
    width: 100%;
    padding: 0em 0em 2em 0em;
}