<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://kit.fontawesome.com/b0989a2bf5.css" crossorigin="anonymous">
    <link rel="stylesheet" href="log-in.component.css">
</head>

<body>
    <main>
        <form [formGroup]="form"  (ngSubmit)="onEnviar($event)">    
            <div>
                <label for="email">Email: </label>                          
                <input type="email" formControlName="email">
            </div>
            <!-- Gracias al getter que configuramos en el controlador -->
            <div *ngIf="Mail?.errors  && Mail?.touched">    
                <p *ngIf="Mail?.hasError('required')" class="error">
                    El email es requerido.
                </p>
                <p *ngIf="Mail?.hasError('email')" class="error">
                    El formato del email debe ser válido.
                  </p>
            </div>
        
            <br/>
            <div>
                <label for="exampleInputPassword1" class="form-label">Password: </label>
                <input type="password" formControlName="password" [class.border-danger]="MailValid">
            </div>
            <!-- Gracias al getter que configuramos en el controlador -->
            <div *ngIf="Password?.errors  && Password?.touched">
            <p *ngIf="Password?.hasError('required')" class="error">
              El password es requerido.
            </p>
            <p *ngIf="Password?.errors?.minlength" class="error">
              El password debe ser de 8 o más caracteres.
            </p>
          </div>
            <br/>
            <div>
                <button class="inicio" type="submit">Iniciar Sesión</button>
            </div>
        </form>
        
    </main>



</body>

</html>